html {
  font-size: 14px;
}

body {
  background-color: #eaf3f7;
  overflow: hidden;
}

.container-fluid {
  width: 1320px;
  height: 655px;
  margin: 20px calc((100vw - 1320px) / 2);
  justify-content: space-evenly;
}

.container-fluid > div {
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  padding-bottom: 0;
  /* height: 100%; */
}

.add-vocab {
  height: 200px;
  margin-bottom: 20px;
}

.list-vocab {
  height: 500px;
}

.vocab-show-result {
  border-top: #b4cffa 0.5px solid;
  padding-top: 15px;
}

.vocab-show-result ol {
  display: flex;
  flex-wrap: wrap;
  max-height: 370px;
  overflow-y: auto;
  padding-left: 0px;
  padding-right: 10px;
  justify-content: start;
}

.vocab-show-result li {
  width: 48%;
  border-bottom: #ccc 0.5px solid;
  padding-bottom: 6px;
  padding-left: 0;
}
.vocab-show-result li:nth-child(odd) {
  margin-right: 5%;
}

.level-1 {
    color: red;
}

.level-2 {
    color: #f29100;
}
.level-3 {
    color: #edcd13;
}

.level-4 {
    color: #45a842;
}
.level-5 {
    color: #2760b6;
}
.level-6 {
    color: #80aee2;
}
.level-mastered {
    color: #7f91ab;
}

.vocab-detail {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  top: 0;
  background-color: rgba(129, 117, 117, 0.3) !important;
  display: flex;
  justify-content: center;
  padding: 10vh 0;
}

.vocab-detail .card {
  width: 800px !important;
  height: 60vh;
}

.card-body > div {
  display: flex;
  justify-content: space-between;
}

.card-header {
  background-color: #eaf3f7;
}
.list-group {
  height: 50vh;
  overflow: auto;
}

.duplicated {
  border-color: red;
}
.duplicated-message {
  color: blue;
  display: block !important;
}

.duplicated-error-message {
  color: red;
  display: block !important;
}

.form-check-inline {
  padding-left: 30px;
}

.add-button {
  width: 100%;
  border-radius: 20px;
}

.add-button-div {
  padding-top: 10px;
}

.btn-outline-danger:hover,
.btn-outline-warning:hover {
  background: none !important;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.card-text input[type="text"] {
  color: inherit;
  font-weight: inherit;
  border: none;
  border-bottom: 2px solid rgba(11, 11, 240, 0.1);
  width: 100%;
}

.card-text input[type="text"]:focus {
  outline: none;
  box-shadow: none;
}

.edit-icon, .close-icon, .save-icon {
    line-height: 1.5;
  margin-left: 5px;
  border: #6db7fd 0.5px solid;
  border-radius: 15px;
  padding-top: 0;
  padding-bottom: 2px;
}

.save-icon:disabled {
  background-color: #c5c9cc;
}
.card-text input:disabled {
  background-color: #fff;
  border: none;
}
