:root {
  --background-gradient: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);
  --background-gradient-2:linear-gradient(to top, #083ca3 0%, #8da3cd 100%, #6b8cce 100%, #a2b6df 100%);
  --background-blue-1: #69a0fe;
  --background-blue-2: #6db7fd;
  --background-dark-blue: #051d9a ;
  --background-white: #ffffff;
}
html {
  font-size: 14px;
}

body, #app {
  height: 100vh;
  background-image: var(--background-gradient);
  overflow-y: hidden;
}

.logo {
  line-height: 1.5;
  font-family: "Lavishly Yours", cursive;
  font-weight: 700;
  font-size: 4.5rem;
  background: var(--background-gradient-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.logo-underline {
  text-decoration: underline;
  text-decoration-color: var(--background-blue-1);
  text-underline-offset: 5px;
  text-decoration-style: double; 
  text-decoration-thickness: 1px; 
}
/* overall */

#outside-container {
  height: 100%;
  width: 1520px;
  margin: 0 auto;

}

#sidebar-component{
border-right: solid 1px #ccc;
}

/* LoginComponent */
.login-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 20px 20px 10px rgba(78, 121, 239, 0.2);
}


button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error-message {
  color: red;
  margin-bottom: 15px;
  text-align: center;
}

/* EnglishVocabComponentComponent */
.english-container {
  background-color: var(--background-white);
  /* width: 1320px;
  height: 655px;
  margin: 20px calc((100vw - 1320px) / 2);
  justify-content: space-evenly; */
}

.container-fluid > div {
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  padding-bottom: 0;
  /* height: 100%; */
}

.add-vocab {
  height: 200px;
  margin-bottom: 20px;
}

.list-vocab {
  height: 500px;
}

.vocab-show-result {
  border-top: #b4cffa 0.5px solid;
  padding-top: 15px;
}

.vocab-show-result ol {
  display: flex;
  flex-wrap: wrap;
  max-height: 370px;
  overflow-y: auto;
  padding-left: 0px;
  padding-right: 10px;
  justify-content: start;
}

.vocab-show-result li {
  width: 48%;
  border-bottom: #ccc 0.5px solid;
  padding-bottom: 6px;
  padding-left: 0;
}
.vocab-show-result li:nth-child(odd) {
  margin-right: 5%;
}

.level-1 {
    color: red;
}

.level-2 {
    color: #f29100;
}
.level-3 {
    color: #edcd13;
}

.level-4 {
    color: #45a842;
}
.level-5 {
    color: #2760b6;
}
.level-6 {
    color: #80aee2;
}
.level-mastered {
    color: #7f91ab;
}

.vocab-detail {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 10;
  top: 0;
  background-color: rgba(129, 117, 117, 0.3) !important;
  display: flex;
  justify-content: center;
  padding: 10vh 0;
}

.vocab-detail .card {
  width: 800px !important;
  height: 60vh;
}

.card-body > div {
  display: flex;
  justify-content: space-between;
}

.card-header {
  background-color: #eaf3f7;
}
.list-group {
  height: 50vh;
  overflow: auto;
}

.duplicated {
  border-color: red;
}
.duplicated-message {
  color: blue;
  display: block !important;
}

.duplicated-error-message {
  color: red;
  display: block !important;
}

.form-check-inline {
  padding-left: 30px;
}

.add-button {
  width: 100%;
  border-radius: 20px;
}

.add-button-div {
  padding-top: 10px;
}

.btn-outline-danger:hover,
.btn-outline-warning:hover {
  background: none !important;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.card-text input[type="text"] {
  color: inherit;
  font-weight: inherit;
  border: none;
  border-bottom: 2px solid rgba(11, 11, 240, 0.1);
  width: 100%;
}

.card-text input[type="text"]:focus {
  outline: none;
  box-shadow: none;
}

.edit-icon, .close-icon, .save-icon {
    line-height: 1.5;
  margin-left: 5px;
  border: #6db7fd 0.5px solid;
  border-radius: 15px;
  padding-top: 0;
  padding-bottom: 2px;
}

.save-icon:disabled {
  background-color: #c5c9cc;
}
.card-text input:disabled {
  background-color: #fff;
  border: none;
}
