# Ignore toàn bộ thư mục java
lingo-vault-serve/target
# Bỏ qua các file cấu hình của Eclipse và IntelliJ
lingo-vault-serve/.classpath
lingo-vault-serve/.factorypath
lingo-vault-serve/.project

# Bỏ qua thư mục cấu hình của Eclipse
lingo-vault-serve/.settings/


# Ignore toàn bộ thư mục js
lingo-vault-client/dist
lingo-vault-client/build
lingo-vault-client/node_modules/
lingo-vault-client/package-lock.json
